*.asv
1D/example_heterogeneous_20180316T170733.fig
1D/example_heterogeneous_20180316T165632.fig
1D/example_heterogeneous_20180316T165352.fig
1D/example_heterogeneous_short_20180320T104311_n_24600000.fig
1D/example_heterogeneous_short_20180320T021837_n_2460000000.fig
1D/example_heterogeneous_short_20180319T204559_n_2460000000.fig
1D/example_heterogeneous_short_20180319T150318_n_246000000.fig
1D/example_heterogeneous_short_20180319T143548_n_24600000.fig
1D/example_heterogeneous_short_20180316T180104.fig
1D/example_heterogeneous_reoptimized_20180320T104708_n_24600000.fig
1D/example_heterogeneous_reoptimized_20180320T021905_n_2460000000.fig
1D/example_heterogeneous_reoptimized_20180319T204723_n_2460000000.fig
1D/example_heterogeneous_reoptimized_20180319T150422_n_246000000.fig
1D/example_heterogeneous_reoptimized_20180316T180130.fig
1D/example_heterogeneous_20180320T104310_n_24600000.fig
1D/example_heterogeneous_20180320T021836_n_2460000000.fig
1D/example_heterogeneous_20180319T204558_n_2460000000.fig
1D/example_heterogeneous_20180319T150317_n_246000000.fig
1D/example_heterogeneous_20180319T143547_n_24600000.fig
1D/example_heterogeneous_20180316T180104.fig
1D/example_heterogeneous_short_20180320T113930_n_2460000000.fig
1D/example_heterogeneous_reoptimized_20180320T120035_n_2460000000.fig
1D/example_heterogeneous_20180320T113929_n_2460000000.fig
TEX/draft2.synctex.gz
TEX/draft2.log
TEX/draft2.aux
TEX/draft2.blg
TEX/draft2.bbl
1D/example_heterogeneous_short_20180412T175228_n_2460000.fig
1D/example_heterogeneous_short_20180412T173825_n_2460000.fig
1D/example_heterogeneous_short_20180412T172354_n_2460000.fig
1D/example_heterogeneous_reoptimized_20180412T175255_n_2460000.fig
1D/example_heterogeneous_reoptimized_20180412T174054_n_2460000.fig
1D/example_heterogeneous_reoptimized_20180412T173459_n_2460000.fig
1D/example_heterogeneous_20180412T175228_n_2460000.fig
1D/example_heterogeneous_20180412T173824_n_2460000.fig
1D/example_heterogeneous_20180412T172353_n_2460000.fig
1D/data_example_heterogeneous_20180412T180222_n_2460000.mat
1D/data_example_heterogeneous_20180412T174623_n_2460000.mat
1D/data_example_heterogeneous_20180412T173604_n_2460000.mat
1D/data_example_heterogeneous_20180412T171100_n_2460000.mat
1D/data_after_optim_example_heterogeneous_20180412T175255_n_2460000.mat
1D/data_after_optim_example_heterogeneous_20180412T174055_n_2460000.mat
1D/data_after_optim_example_heterogeneous_20180412T173500_n_2460000.mat
1D/example_heterogeneous_short_20180412T182643_n_2460000.fig
1D/example_heterogeneous_20180412T182643_n_2460000.fig
1D/example_heterogeneous_short_20180412T185043_n_2460000.fig
1D/example_heterogeneous_reoptimized_20180412T185122_n_2460000.fig
1D/example_heterogeneous_20180412T185042_n_2460000.fig
1D/data_example_heterogeneous_20180412T185739_n_2460000.mat
1D/data_example_heterogeneous_20180412T184716_n_2460000.mat
1D/data_example_heterogeneous_20180412T184001_n_2460000.mat
1D/data_after_optim_example_heterogeneous_20180412T185122_n_2460000.mat
1D/example_heterogeneous_short_20180412T191422_n_2460000.fig
1D/example_heterogeneous_reoptimized_20180412T191529_n_2460000.fig
1D/example_heterogeneous_20180412T191421_n_2460000.fig
1D/data_after_optim_example_heterogeneous_20180412T191530_n_2460000.mat
1D/example_heterogeneous_short_20180412T192439_n_2460000.fig
1D/example_heterogeneous_20180412T192439_n_2460000.fig
1D/data_example_heterogeneous_20180412T192353_n_2460000.mat
1D/data_example_heterogeneous_20180412T192151_n_2460000.mat
1D/example_heterogeneous_reoptimized_20180412T192526_n_2460000.fig
1D/data_after_optim_example_heterogeneous_20180412T192527_n_2460000.mat
patent provisional/~WRL3211.tmp
patent provisional/~$vdiscrevwinstruc_example.doc
patent provisional/~$vdiscrevwinstruc.doc
*.mat
*.avi
TEX/draft_biology.synctex.gz
TEX/draft_biology.pdf
TEX/draft_biology.log
TEX/draft_biology.bbl
TEX/draft_biology.aux
2D_PR/
2D_PR1/
2D_PR2/
2D_PR3/
2D_PR4/
2D_PR5/
TEX/inverse_problem_draft.synctex.gz
TEX/inverse_problem_draft.pdf
TEX/inverse_problem_draft.log
TEX/inverse_problem_draft.bbl
TEX/inverse_problem_draft.aux
TEX/inverse_problem_draft.blg
pnas/Towards.synctex.gz
pnas/Towards.out
pnas/Towards.log
pnas/Towards.aux
pnas/Towards.synctex(busy)
pnas/Towards.blg
pnas/Towards.bbl
PR6/recovery_rrr.m
PR6/newton
PR6/generate_clean_micrograph_2D.m
PR6/gen_progress_figures.m
PR6/gen_movie.m
PR6/example.m
PR6/RRR_with_err.m
PR6/RRR.m
PR6/Einstien_progress_examples.pdf
PR6/Einstien_progress_examples
PR6/Einstien_progress_400.pdf
PR6/Einstien_progress_400
PR6/Einstien_progress_40.pdf
PR6/Einstien_progress_40
PR6/Einstien_progress_4.pdf
PR6/Einstien_progress_4
PR6/Einstien_progress_246.pdf
PR6/Einstien_progress_246
PR6/Einstien_progress_100.pdf
PR6/Einstien_progress_100
PR6/Einstien_progress_10.pdf
PR6/Einstien_progress_10
PR6/Einstien_progress_1.pdf
PR6/Einstien_progress_1
PR6/Einstein_recovery_error_combined.pdf
PR6/Einstein_recovery_error_combined
PR6/Einstein_recovery_error.pdf
PR6/Einstein5_small.jpg
PR6/Einstein5.jpg
Notes/notes_Will.synctex.gz
Notes/notes_Will.pdf
Notes/notes_Will.blg
Notes/notes_Will.bbl
Notes/notes_Will.aux
pnas/template.tex
pnas/template.synctex.gz
pnas/template.pdf
pnas/template.out
pnas/template.blg
pnas/template.bbl
pnas/template.aux
pnas/Towards.dvi
1D/1D_example_pnas/gen_figure_script.m
1D/1D_example_pnas/extract_roi_loss.m
1D/1D_example_pnas/extract_roi.m
1D/1D_example_pnas/example_homogeneous_progress_latte.m
1D/1D_example_pnas/discretesample.m
1D/1D_example_pnas/1D_example.pdf
1D/verifying_gamma_formula/generate_clean_micrograph_1D.m
1D/verifying_gamma_formula/example.m
1D/example_homogeneous_progress_latte.m
1D/example_homogeneous.m
1D/data_example_homogeneous_n_4100000_85860_fig1.pdf
1D/data_example_homogeneous_n_4100000_85860_fig1.fig
1D/data_example_homogeneous_n_4100000_415015_fig1.pdf
1D/data_example_homogeneous_n_4100000_415015_fig1.fig
1D/data_example_homogeneous_n_4100000_231199_fig1.pdf
1D/data_example_homogeneous_n_4100000_231199_fig1.fig
1D/data_example_homogeneous_n_41000000_760138_fig1.pdf
1D/data_example_homogeneous_n_41000000_760138_fig1.fig
1D/1D_example_pnas/positivefactory.m
1D/1D_example_pnas/moments_from_data_no_debias_1D_batch.m
1D/1D_example_pnas/moments_from_data_no_debias_1D.m
1D/1D_example_pnas/moment_selection.m
1D/1D_example_pnas/least_squares_1D_params.m
1D/1D_example_pnas/least_squares_1D_heterogeneous.m
1D/1D_example_pnas/least_squares_1D_cost_grad_params_parallel.m
1D/1D_example_pnas/least_squares_1D_cost_grad_parallel.m
1D/1D_example_pnas/least_squares_1D_cost_grad_heterogeneous.m
1D/1D_example_pnas/least_squares_1D.m
1D/1D_example_pnas/heterogeneous_1D.m
1D/1D_example_pnas/generate_clean_micrograph_1D_heterogeneous.m
PR6/computeM2.m
PR6/Einstein_recovery_error
PR6/Einstein_ps_error.pdf
PR6/Einstein_ps_error
PR6/Einstein_progress.pdf
PR6/Einstein_progress
2DEXP_PNAS/pdf_print_code.m
2DEXP_PNAS/generate_clean_micrograph_2D.m
2DEXP_PNAS/example.m
2DEXP_PNAS/computeM2.m
2DEXP_PNAS/RRR.m
2DEXP_PNAS/Einstien_progress_examples.pdf
2DEXP_PNAS/Einstien_progress_examples
2DEXP_PNAS/Einstein_recovery_error_combined.pdf
2DEXP_PNAS/Einstein_recovery_error_combined
2DEXP_PNAS/Einstein5_small.jpg
pnas/bu2.blg
pnas/bu2.bbl
pnas/bu2.aux
pnas/bu1.blg
pnas/bu1.bbl
pnas/bu1.aux
